# .gitignore

gitignore/

# Python files
*.pyc
*.pyo
*.pyd
__pycache__/
*.pyc.cache
*.pyz
*.egg-info
*.pyc
.coverage
.mypy_cache
.pytest_cache
.tox/
__pycache__
_snapshots/
build/
dist/
htmlcov/

# Virtual environment
.env/
.venv/

# Jupyter Notebook files
time_report_notebook/.ipynb_checkpoints/

# Logs and databases
*.log
*.sqlite

# Unit test and coverage reports

# myfile
playground.py
local.sh
nb.sh

# ignore html report
time_report_notebook/*.htm
time_report_notebook/*.html
html_reports/

.idea/
archived/